@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

*{
  margin: 0px;
	margin-left:0;
	margin-right:0;
  box-sizing: border-box;
}

body{
  background-image: url(/images/vintageblack.jpg);
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
  /* background-color: rgba(22,34,57,0.95); */
}
.row{
  margin:0px;
}

/* Start --- head */
.topHead{
    /* background: rgba(22,34,57,0.95); */
    color: white;
    padding-top: 5px;
}
/* End --- head */

/* Start --- Menubar */
/* .main-header{
  background-color: whitesmoke;
} */

.header{
  background-color: white;
  border-radius: 20px;
}

.programsTitle{
  background-color: white;
  border-radius: 20px;
}

.nav-link{
    font-family: 'Heebo', sans-serif;
    color: black;
    font-size: 20px;
}

.dropdown-menu{
  background-color: white;
}

.dropdown-item{
  font-family: 'Heebo', sans-serif;
    color: black;
    font-size: 20px;
}

.navbar-default .navbar-nav>li>a:hover{
    background:darkolivegreen !important; color:white;
}

.dropdown-menu>li>a:hover{
    background:darkolivegreen !important; color:white;
}
/* End --- Menubar */

/* Start --- aboutus */

.card{
    border: none;
    background: transparent;
}

.card-paragraph h6{
  color: white;
  font-family: 'Heebo', sans-serif;
  font-size: 20px;
}

.card-paragraph h5{
  color: white;
  font-family: 'Heebo', sans-serif;
  font-size: 25px;
  font-weight: bold;
}

.aboutus-h5 {
  color: #FDE64B;
  /* font-family: 'Titan One', cursive; */
  font-family: 'Heebo', sans-serif;
  font-size: 30px;
  font-weight: bolder;
}

.sliderAnimate .owl-nav .owl-prev {
    position: absolute;
    left: 15px;
    top: 43%;
    opacity: 0;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    background: rgba(0, 0, 0, 0.5) !important;
    width: 40px;
    cursor: pointer;
    height: 40px;
    position: absolute;
    display: block;
    z-index: 1000;
    border-radius: 0;
  }

  .sliderAnimate .owl-nav .owl-prev span {
    font-size: 1.6875rem;
    color: #fff;
  }

  .sliderAnimate .owl-nav .owl-prev:focus {
    outline: 0;
  }

  .sliderAnimate .owl-nav .owl-prev:hover {
    background: #000 !important;
  }

  .sliderAnimate .owl-nav .owl-next {
    position: absolute;
    right: 15px;
    top: 43%;
    opacity: 0;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    background: rgba(0, 0, 0, 0.5) !important;
    width: 40px;
    cursor: pointer;
    height: 40px;
    position: absolute;
    display: block;
    z-index: 1000;
    border-radius: 0;
  }

  .sliderAnimate .owl-nav .owl-next span {
    font-size: 1.6875rem;
    color: #fff;
  }

  .sliderAnimate .owl-nav .owl-next:focus {
    outline: 0;
  }

  .sliderAnimate .owl-nav .owl-next:hover {
    background: #000 !important;
  }

  .sliderAnimate:hover .owl-prev {
    left: 0px;
    opacity: 1;
  }

  .sliderAnimate:hover .owl-next {
    right: 0px;
    opacity: 1;
  }
  /* End --- aboutus */

  /* Start --- program-images */
.main-programs h2{
  margin: 10px;
  color: black;
  font-family: 'Heebo', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.programs-h2{
  color: black;
  font-size: 30px;
  font-weight: bold;
  text-decoration: underline;
}

.programs-h2-detail{
  color: black;
  font-family: 'Heebo', sans-serif;
  font-size: 15px;
  font-weight: bold;
}

  /* .main-programs-images{
    background: #efefef;
  } */

 .card-images{
  background-color: grey;
  border: 2px;
  border-color: red;
  border-radius: 20px;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
 }

 .text-program-title{
  color: white;
  font-size: 20px;
  font-weight: bold;
 }

 .program-title a{
  text-decoration: none;
 }

 .program-title{
  padding-left: 10px;
  padding-top: 10px;
 }

.class-date{
  padding-bottom: 10px;
  padding-left: 10px;
  color: white;
  font-size: 15px;
  font-family: 'Heebo', sans-serif;
 }

 .program-bottom{
  background-color: #555555;
 }

 /* .card-images:hover {
  box-shadow: 16px 8px 16px 8px darkolivegreen;
} */



.zoom:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
  /* End --- program-images */

/* .main-footer{
  background: rgba(22,34,57,0.95);
  color: white;
} */

.address{
  font-size: 18px;
  font-family: 'Heebo', sans-serif;
  color: white;
}

.address h6{
  color: red;
  font-family: 'Heebo', sans-serif;
  font-size: 30px;
  font-weight: bold;
}

.contactdetails{
  color: white;
  text-decoration: none;
  font-family: 'Heebo', sans-serif;
}

.contactdetails:hover{
  color: white;
}

.contactdetailsno{
  font-size: 26px;
  font-family: 'Heebo', sans-serif;
  color: white;
}

.fa{
  color: white;
}
